* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.items-center {
  align-items: center;
}
.flex-class {
  display: flex;
}

header {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #fff;
  border-bottom: 2px solid #eee;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.main-block {
  padding-top: 246px;
}

.container {
  margin: 0 auto;
  width: 1600px;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_block {
  display: flex;
  align-items: center;
}

.menu-feedback-container {
  display: flex;
}

.menu-list {
  display: flex;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

nav {
  margin-right: 70px;
}

.feedback-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name-section {
  margin-top: 245px;
}

.name p {
  color: var(--Solid-Heading, #42446e);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.name span {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me {
  padding-top: 200px;
}

.description-about-me-container {
  max-width: 708px;
}

.description-about-me-container > p {
  color: var(--dark-content, #666);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.paragraph {
  color: #42446e;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
}

.work-exp {
  margin-top: 50px;
}

.work-experience-container > h2 {
  margin-bottom: 5px;
}
