:root {
  --background-body-color: rgb(255, 255, 255);
  --greating-text-color: #42446e;
  --title-text-color: #42446e;
  --background-project-container: #fff;
  --title-text-description-color: #666;
  --link-project-color: #000;
  --link-footer-color: #42446e;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/DM_Sans/DM-Sans-400.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url("../fonts/DM_Sans/DM-Sans-500.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url("../fonts/Poppins/Poppins-300.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("../fonts/Poppins/Poppins-400.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url("../fonts/Poppins/Poppins-500.woff2");
  font-stretch: normal;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("../fonts/Poppins/Poppins-700.woff2");
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-body-color);
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.items-center {
  align-items: center;
}
.flex-class {
  display: flex;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: var(--background-body-color);
  /* #fff; */
  border-bottom: 2px solid #eee;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

/** */

#bars {
  display: none;
}

.main-block {
  padding-top: 246px;
}

.container {
  margin: 0 auto;
  width: 1600px;
}

.header_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_block {
  display: flex;
  align-items: center;
}

.menu-feedback-container {
  display: flex;
  align-items: center;
}

.menu-switcher {
  width: 100px;
  height: 50px;
  display: flex;
}

.menu-list > li > a {
  display: flex;
  color: #666;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.menu-item {
  font-family: "DM Sans";
}

nav {
  margin-right: 70px;
}

.feedback-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name-section {
  margin-top: 245px;
}

.dark-mode-container {
  width: 30px;
  height: 30px;
}

#moon_icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.dark-theme {
  --background-body-color: #191919;
  --greating-text-color: #d9d9d9;
  --title-text-color: #ccc;
  --background-project-container: #363636;
  --title-text-description-color: #ccc;
  --link-project-color: #fff;
  --link-footer-color: #a7a7a7;
}

.name p {
  color: var(--greating-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.name span {
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-me {
  padding-top: 50px;
}

.description-about-me-container {
  width: 800px;
}

.description-about-me-container > p {
  color: var(--dark-content, #666);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.paragraph {
  color: var(--title-text-color);
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
}

.work-exp {
  margin-top: 100px;
}

.work-experience-container > h2 {
  margin-bottom: 5px;
}

.container-main-work-experience {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  margin-bottom: 30px;
  border-bottom: 3px solid grey;
  align-items: center;
}

.container-main-work-experience-last {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid grey;
  margin-bottom: 100px;
}

.left-container-main-work-experience h3 {
  color: var(--dark-content, #666);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
  padding-bottom: 16px;
}

.div-block {
  display: inline-block;
  width: 447px;
  height: 50px;
  align-items: center;
}

.lable-place {
  color: var(--light-Content, #a7a7a7);
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
}

.period-lable {
  color: var(--Button-text, #018c0f);
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  line-height: 26px;
  width: 84px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--Button-success, #d7ffe0);
}

.right-container-main-work-experience > div {
  display: flex;
  flex-flow: row wrap;
}

.child {
  margin: 0 0px;
}

.righted {
  order: 999;
  margin-left: auto;
}

.enducation-block {
  width: 450px;
}

.education-inner {
  display: flex;
  justify-content: space-between;
}

.paragraph-center {
  text-align: center;
  color: var(--title-text-color);
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
  margin-bottom: 10px;
}

.tech-stack {
  margin-top: 100px;
}

.descr-tech-stack {
  color: var(--dark-content, #666);
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 26px;
}

.main-stack-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-top {
  display: flex;
}

.container-btn {
  display: flex;
}

.stack-item {
  margin-top: 140px;
  margin-right: 103px;
}

.stack-item-last {
  margin-top: 140px;
  margin-right: 0px;
}

.project {
  margin-top: 100px;
}

.project-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.project-iten {
  width: 373px;
  /* height: 567px; */
  margin-top: 96px;
  margin-right: 45px;
  margin-bottom: 87px;
  border-radius: 20px;
  background: var(--background-project-container);
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}

.project-iten-last {
  width: 373px;
  /* height: 567px; */
  margin-top: 96px;
  margin-right: 0;
  margin-bottom: 87px;
  border-radius: 20px;
  background: var(--background-project-container);
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
}

.project-name {
  color: var(--title-text-color);
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  line-height: 26px;
  padding: 27px 0;
}

.project-description {
  color: var(--title-text-description-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  padding: 0 28px;
}

.top-project-container {
  display: flex;
}

.btn-project-container {
  display: flex;
}

.list-hard {
  color: var(--title-text-description-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.list-hard-lable {
  color: var(--title-text-description-color);
  font-size: 14px;
  font-weight: 300;
}

.links-projects {
  display: flex;
  justify-content: space-between;
  padding: 21px 21px;
}

.link-project-container {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.akar-clip-icon,
.akar-github-icon {
  margin-right: 10px;
}

.link-name {
  text-decoration: underline;
  color: var(--link-project-color);
}

.questions {
  margin-top: 200px;
  margin-bottom: 315px;
}

.question-lable {
  color: var(--title-text-color);
  text-align: center;
  font-family: DM Sans;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 7px;
}

.question-mail-lable {
  text-align: center;
  font-family: DM Sans;
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 8px;
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 53px;
  stroke-width: 2px;
  border-bottom: 3px solid var(--dark-content, #666);
}

.contact-footer-cont {
  display: flex;
}

.iteam-list-footer {
  display: flex;
}

.iteam-icon-footer {
  margin-right: 20px;
}

.phone {
  margin-right: 33px;
  color: var(--link-footer-color);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.email {
  margin-right: 48px;
  color: var(--link-footer-color);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.btn-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sign-footer-p {
  color: var(--link-footer-color);
}

.fotter-menu-list-item a {
  color: var(--link-footer-color);
}

.fotter-menu > ul {
  display: flex;
  align-items: center;
}

.fotter-menu > ul > li {
  color: var(--Solid-Heading, #42446e);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-right: 52px;
}

.sign-footer p {
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.sign-text {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1620px) {
  .container {
    width: 1000px;
  }

  .project-iten {
    margin-top: 46px;
    margin-right: 40px;
    margin-bottom: 67px;
  }

  .project-iten-last {
    margin-top: 46px;
    margin-bottom: 67px;
  }

  .stack-item {
    align-items: center;
    margin-top: 120px;
    margin-right: 40px;
  }

  .stack-item-last {
    align-items: center;
    margin-top: 120px;
    margin-right: 0px;
  }

  .stack-item > img,
  .stack-item-last > img {
    width: 100px;
    height: 100px;
  }

  .project-iten {
    width: 350px;
    margin-top: 86px;
    margin-right: 25px;
    margin-bottom: 87px;
  }

  .project-iten > img,
  .project-iten-last > img {
    width: 350px;
  }

  .project-iten-last {
    width: 350px;
    margin-top: 86px;
    margin-right: 0;
    margin-bottom: 77px;
  }

  .project-name {
    font-size: 20px;
    padding: 27px 0;
  }

  .project-description {
    font-size: 15px;
  }

  .list-hard {
    font-size: 15px;
  }

  .fotter-menu > ul > li {
    font-size: 15px;
  }

  .sign-footer p {
    font-size: 15px;
  }
}

@media (max-width: 1120px) {
  .container {
    width: 800px;
  }

  .logo-block > img,
  .logo-footer-cont > img {
    width: 86px;
    height: 49px;
  }

  .feedback-icons > li,
  .iteam-icon-footer > li {
    width: 20px;
    height: 20px;
  }

  .menu-list {
    font-size: 15px;
  }

  .btn-project-container,
  .top-project-container {
    display: block;
  }

  .name p {
    font-size: 28px;
    line-height: 42px;
  }

  .photo-container > img {
    width: 167px;
    height: 167px;
  }

  .paragraph {
    font-size: 30px;
  }

  .main-header {
    display: block;
  }

  .question-lable,
  .question-mail-lable {
    font-size: 28px;
  }

  .menu-feedback-container {
    justify-content: space-between;
  }

  .feedback-icons > li {
    margin-right: 20px;
  }

  .feedback-icons-last {
    margin-right: 0px;
  }

  .btn-footer {
    display: block;
  }

  .sign-footer > p {
    text-align: left;
  }
}

@media (max-width: 822px) {
  .container {
    width: 700px;
  }

  .container-top,
  .container-btn {
    display: block;
  }

  .stack-item {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
  }

  .stack-item > img,
  .stack-item-last > img {
    width: 200px;
    height: 200px;
  }

  .descr-tech-stack {
    font-size: 20px;
  }

  .paragraph-center {
    font-size: 30px;
  }

  .top-footer {
    display: block;
  }

  .description-about-me-container {
    width: 400px;
  }

  .contact-footer-cont {
    display: block;
  }

  .phone,
  .email {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .top-footer {
    padding-bottom: 25px;
  }

  .btn-footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .feedback-icons {
    display: none;
  }
}

@media (max-width: 721px) {
  .container {
    width: 500px;
  }

  .question-lable,
  .question-mail-lable {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 4px;
  }

  .menu-list {
    display: block;
  }

  .description-about-me-container {
    width: 536px;
  }

  header {
    height: 100px;
  }

  .nav-menu.visible {
    right: 0;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -50%;
    width: 25%;
    height: 100vh;
    z-index: 101;
    margin-right: 0;
  }

  .nav-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(202, 195, 221);
    opacity: 0.9;
  }

  #bars {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    color: black;
  }
}

@media (max-width: 593px) {
  .container {
    width: 500px;
  }

  .fotter-menu > ul {
    display: block;
  }

  .description-about-me-container {
    width: 200px;
  }

  .block {
    display: block;
  }

  .project-iten > img,
  .project-iten-last > img {
    width: 250px;
  }

  .project-iten,
  .project-iten-last {
    width: 250px;
  }

  .project-iten-last {
    width: 250px;
    margin-top: 86px;
    margin-right: 0;
    margin-bottom: 77px;
  }
}

@media (max-width: 521px) {
  .container {
    width: 400px;
  }

  .project-list-container {
    padding: 0;
  }

  .stack-item > img,
  .stack-item-last > img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 515px) {
  .main-block {
    padding-top: 160px;
  }
  .container {
    width: 100%;
  }

  .header_flex {
    display: block;
  }

  .project-list-container {
    padding: 0;
  }
  .project-iten {
    margin-top: 50px;
  }
  .stack-item-last {
    margin-top: 30px;
  }

  .stack-item > img,
  .stack-item-last > img {
    width: 100px;
    height: 100px;
  }

  .description-about-me-container {
    width: 100%;
  }

  .div-block {
    width: auto;
  }
  .question-lable {
    font-size: 12px;
  }

  .link-project-container {
    font-size: 12px;
  }

  .sign-footer > p {
    font-size: 9px;
  }

  .project-iten {
    margin-right: 0;
  }

  .project-iten-last {
    margin-bottom: 0;
  }

  .menu-list > li > a {
    font-size: 12px;
  }

  .phone,
  .email {
    font-size: 15px;
  }
}
